@import '~@fluentui/react/dist/sass/References.scss';

.offices {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .webparttitle {
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 10px;
  }

  .description {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .officescontainer {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

      .office {
        width: calc(50% - 15px);
        vertical-align: top;

        &:nth-child(odd) {
          margin-right: 15px;
        }

        &:nth-child(even) {
          margin-left: 15px;
        }
      }
    }

    .office {
      padding: 0;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      border: solid 1px #999;
      border-radius: 10px;
      overflow: hidden;

      h2.header {
        color: #fff;
        padding: 20px;
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: center;
        min-height: 83px;

        &:before {
          content: "";
          position: absolute;
          background: linear-gradient(90deg, rgba(0, 0, 0, .9) 0, transparent);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        .country {
          display: block;
          font-size: 18px;
          z-index: 100;
          position: relative;
        }

        .city {
          display: block;
          font-weight: normal;
          font-size: 14px;
          z-index: 100;
          position: relative;
        }
      }

      .contacts {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px 20px;
        margin-bottom: auto;

        .width50 {
          width: 50%;
        }
  
        .width100 {
          width: 100%;
        }

        .employeeList {
          display: flex;
          flex-wrap: wrap;

          .employee100 {
            width: 100%;
            margin-bottom: 10px;
          }

          .employee50 {
            width: 50%;
            margin-bottom: 10px;
          }
        }
      }

      .officeBtn {
        background-color: #0b3048;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        padding: 12px 10px;
        margin: 0 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #0d3d5c;
        }

        + .officeBtn {
          margin-top: 0;
        }

        i {
          margin-right: 8px;
          font-size: 18px;
        }
      }
    }
  }
}