.imageOnly {
    height: 0;
    margin-bottom: 15px;
}

.headshotWrap {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
    left: 15px;
    top: -36px;
    background-size: cover;
    background-position: center center;

    img {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: auto;
    }
}